.board svg {
  width: 18px;
  height: 18px;
}

.board {
  display: flex;
  flex-direction: column;
}

.glass {
  height: 400px;
  background: rgba(31, 32, 33, 0.48);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(31, 32, 33, 1);
}
