.form input {
  border-radius: 16px;
  padding: 15px;
  border: 1px solid #161616;
  background-color: #161616;
  border: none;
  outline: none;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
}

.form button {
  color: white;
  display: flex;
}

.button {
  background-color: #161616;
  border: none;
  padding: 8px 16px;
  border-radius: 16px;
  font-size: 16px;
}

.form input {
  background-color: transparent;
  border: 1px solid #161616;
  width: 100%;
}
.form input:hover,
.form input:focus {
  border: 1px solid #313334;
}

.coverBox input {
  border: 1px solid rgba(39, 41, 43, 0.5);
}
